Repository j-jasmin/acceleration-app-helm: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-code, helm-validate

.circleci/config.yml:

version: '2.1'
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            acceleration-a/.* build-code true
            k8s/.* helm-validate true

test
  .circleci/config.yml
Due: none

test
  k8s/chart/values.yaml
Due: helm-validate

test
  .circleci/continue-config.yml
Due: none

test
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

test
  acceleration-a/Dockerfile
  k8s/argo/acceleration-a.yaml
Due: build-code, helm-validate

test (#3)
  .circleci/config.yml
  .circleci/continue-config.yml
  acceleration-a/Dockerfile
  k8s/argo/acceleration-a.yaml
  k8s/chart/values.yaml
Due: build-code, helm-validate
